<h1>Hello {{username}}!</h1>

<h1>Add Logs</h1>
<form action="/page/" method="POST">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="Submit">
</form>
<form action="/page/" method="POST">
    {% csrf_token %}
    {{select_day}}
    <input type="submit" value="Submit">
</form>
<h1>TOTAL HOURS LOGGED TODAY: {{today}} hours</h1>
<h1>TOTAL HOURS LOGGED THIS WEEK: {{week}} hours</h1>
<h1>TOTAL HOURS LOGGED THIS MONTH: {{month}} hours</h1>

<h1>Log hours</h1>
<table border="1">
<tr>
    <th>DURATION</th>
    <th>PROJECT</th>
    <th>REMARKS</th>
</tr>
{% for log in logs %}
    <tr>
        <td>{{log.hours}}</td>
        <td>{{log.project.name}}</td>
        <td>{{log.remarks}}</td>
    </tr>
{% empty %}
    <tr><td>No logs yet.</td></tr>
{% endfor %}
</table>